.list {
  height: 144px;
  overflow: auto;
}
.list-container{
  position: relative;
  padding: 2em;
  padding: 0.6em 1.2em;
  background-color: #1a1a1a;
  border-radius: 12px;
}

.reset-icon{
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  line-height: .2;
  padding: 0;
  border-color: aliceblue;
}